h1 {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.cta {
    color: aquamarine;
    font-size: 20px;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

h2 {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
}

.pta p {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

.footer {
    text-align: right;
    color: gray;
    font-size: 25px;
    position: absolute; bottom: 30;right: 0;
}